* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  --line-height: 650px;
  --text-box-height: 50px;
  --content-spacing: 13.5px;
}

#password {
  display: inline-block;
  background-color: #333;
  width: 100%;
  color: white;
  font-size: var(--text-box-height);
  line-height: var(--text-box-height);
  text-align: center;
  margin-bottom: var(--content-spacing);
  height: var(--text-box-height);
}

.container {
  display: block;
  position: sticky;
  margin: 15% auto;
  line-height: var(---line-height);
  background-color: #06c;
  height: var(---line-height);
  width: var(--line-height);
  z-index: 1;
  border: 12px solid #06c;
  border-top-right-radius: var(--content-spacing);
  border-bottom-left-radius: var(--content-spacing);
}

.container h2 {
  text-align: center;
  font-family: sans-serif;
}

.container div {
  width: inherit;
  position: static;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bolder;
  color: orange;
}

.container div > p {
  display: inline;
  text-align: center;
}

input[type="checkbox"],
input[type="number"] {
  position: absolute;
  right: 0;
  height: 16px;
  width: 50px;
}
input[type="checkbox"]::before {
  height: 22px;
  background-color: rebeccapurple;
}

#btn::before {
  content: "\01F4CB";
}
#btn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  border: none;
  background-color: purple;
}
